.h-h1{
    text-align: left;
    padding-left:10px;
}
 h1{
    margin-left: 10%; 
    padding-top: 1%;
    font-size: 24px;   

}
hr{
    margin:0 0 2% 0;
    
}
img{
    background-color: whitesmoke;
}


.navbar h4{
    font-size: 16px;
}




#about-me p{
   font-size: 20px; 
   color:white;
   font-family: 'Francois One', sans-serif;
}

#about-me{
    padding: 2% 2% 2% 2%;
    border-style: solid;
    border-color:slategray;
    border-width: 4px;
    border-radius: 5% 5% 5% 5%;
    background-image: url(https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/67834978_193545774977939_2059502067871719133_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=111&_nc_ohc=WCb4WXnzUWcAX9JLA5E&oh=282990b17d21744a3652b4b29d41df94&oe=5E9504D7);
    background-blend-mode: exclusion;

}

#port-box{
       
    padding:5% 5% 5% 5%;

}
#port-col{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 5% 5% 5% 5% ;
    background-color: rgb(255, 93, 65);
    padding:2% 2% 2% 2%;
}
#port-col img{
    border-radius: 50%
}

#contact-box{
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-radius: 3% 3% 3% 3%;
    border-color:slategrey;
    background-color: cadetblue;
    padding: 4% 4% 4% 4%;
   
}
@media only screen and (min-width:768px) and (max-width:991px){
    input{size: 20%;}
    textarea{
        cols:24%;
    }

}

.ind{
    padding:1% 4% 1% 4%;
}
footer{
    opacity: .85;
}




