.container{
    padding: 2% 2% 2% 2%;
    background-image: url('./assets/insta\ background.jpg');
    background-position: center;
    background-size: cover;
}

hr{
    border-top: 2px solid black;
}

.header li{
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
       
}
.header li:hover{
    color:orange;
    
}

.container h2 a{
    margin-left: 5%;
    
}
.container h2 a:hover{
    color:orange;
}
.h-h1{
    text-align: left;
    padding-left:10px;
    background-color: tomato;
}
 h1{
    margin-left: 10%; 
    padding-top: 1%;
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    color:whitesmoke;   

}
.grey-h{
    
    color: slategrey;
    
    font-weight: bolder;
}
h2{
    color: slategrey;
    font-size: 34px;    
    font-family: 'Lobster', cursive;
}

img{
    background-color: whitesmoke;
}


.navbar h4{
    font-size: 16px;
}

#about-me p{
   font-size: 1rem; 
   color: black;
   font-family: 'Francois One', sans-serif;
   font-weight: bolder;
}

#about-me{
    width: 75%;     
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5% 5% 5% 5%;
    background-color: tomato;

}
#about-me h2, #port-title,#contact-title{
    background-color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 12px 12px 2px 2px;
}


#about-me a{
    font: size 1rem;;
    color:black;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
  
}
#about-me a:hover{
    color:orange;
}
#about-me img{
    background:transparent;
    border:4px solid white;
    border-radius: 3px 3px 3px 3px;
    margin:4px 4px 4px 0px;
    padding:0 0 0 0;
    
}
#about-me hr{
    border-top: 2px solid white;
}

#port-box{
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 5% 5% 5% 5% ;
    background-color: rgb(255, 93, 65);
    padding:2% 0% 2% 0%;
    }
#port-box a {
        color:black;
        font-family: 'Lobster', cursive;
    }
#port-box a:hover{
        color:white;
    }

.proj-col {
    border-radius: 20%;  
    border: 2px solid white;
}
.proj-col:hover{
    border: white solid 12px;
    filter: grayscale(100%);
    
}

#exchange{
    background-image: url("assets/exchange_screenshot.png");
    background-position: center;
    background-size: cover;
}

#weather{
    background-image: url("assets/weather_screenshot.png");
    background-position: center;
    background-size: cover;
}

#planner{
    background-image: url("assets/dayplanner_screenshot.png");
    background-position: center;
    background-size: cover;
}
#port-box h5{
    color: white;
    font-family: 'Francois One', sans-serif;

       
}

.repo-links:hover{
    font-size: 1rem;
    color:white;
}


#contact-box{
    width: 90%;
    height: 75%;
    font-size: 1rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 3% 3% 3% 3%;
    border-color: black;
    background-color: cadetblue;
    padding: 2% 4% 4% 2%;
   
}
#name, #email, #texta{
    width: 98%;
}


.ind{
    padding:1% 4% 1% 4%;
}
footer{
    opacity: .85;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.sub-butt{
    
    background-color: tomato ;
    color:white;
    font-style: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.contact-input{
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}



